mixin project-slider
	+b.project-slider
		+e.DIV.wrap
			+slide({
				"class": "project-slider__slide project-slider__slide--active",
				"src": "img/project-slider/project-slider__slide-1",
				"alt": "Ботиевская вэс",
				"title": "ботиевская вэс",
				"info": "Крупнейшая ветровая электростанция Украины, расположенная рядом с селом Приморский Посад Приазовского района Запорожской области. Установленная мощность Ботиевской ВЭС составляет 200 МВт; по плану после выхода на проектную мощность Ботиевская ВЭС будет ежегодно генерировать в среднем около 686 кВт·ч электроэнергии в год."
			})
			+slide({
				"class": "project-slider__slide",
				"src": "img/project-slider/project-slider__slide-2",
				"alt": "Тарханкутская вэс",
				"title": "тарханкутская вэс",
				"info": "Тарханкутская ветроэлектростанция расположена на мысе Тарханкут, Автономная Республика Крым. Работает с 2001 года. Мощность — 70 МВт. В перспективе рассматривается возможность установить на Тарханкутской ветроэлектростанции турбины мощностью до 5 МВт каждая. С момента эксплуатации (2001 год) выработала 113 млн кВт/ч."
			})
			+slide({
				"class": "project-slider__slide",
				"src": "img/project-slider/project-slider__slide-3",
				"alt": "Новоазовская вэс",			
				"title": "новоазовская вэс",
				"info": "Ветровая электростанция расположена рядом с селом Безыменное Новоазовского района Донецкой области. Фактическая мощность станции составляет 79,3 МВт (на 2012 год). Проектная мощность 107,5 МВт. В 2010-2012 на территории ВЭС были установлены 9 (из 23) агрегатов FL 2500/100 мощностью по 2,5 МВт."
			})
			+slide({
				"class": "project-slider__slide",
				"src": "img/project-slider/project-slider__slide-4",
				"alt": "Ветряной парк очаковский",
				"title": "ветряной парк очаковский",
				"info": "Состоит из Очаковской ВЭС, мощностью 300 МВт (расположена в c. Дмитриевка, Очаковский район, Николаевская область) и Тузловская ВЭС, мощностью 375 МВт (с. Тузлы, Березанский район, Николаевская область)."
			})
		+e.SPAN.toggle-wrap
			+e.SVG.toggle-right(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 50 164")
				path(d="M8.931,164.013 L-0.004,159.552 L38.834,82.007 L-0.004,4.462 L8.931,0.001 L50.000,82.007 L8.931,164.013 Z" )


mixin slide(item)
	figure(class=item.class)
		picture
			source(media="(min-width: 60em)", srcset=item.src + ".jpg")
			source(srcset=item.src + "-xs.jpg")
			+e.IMG.img(src=item.src + ".jpg", alt=item.alt)
		+e.FIGCAPTION.desc
			+e.H3.title= item.title
			+e.P.info= item.info